// Just some example variables. These should be your own, and placed in another file.
$spacing-xs: 4px;
$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 24px;
$spacing-xl: 32px;

// You can add the "include" prop if you just want to add the class to specific breakpoints.
// If it's empty, "include: ()" it will not be added to any of the breakpoint classes.
// If you set it to "include: (all)", then it will be added to all the breakpoint classes.
// Not having include at all is the same as the above - all breakpoint classes will be generated.
// Base classes (no breakpoint modifier added) will *always* be rendered.
//
// Example 1 - This will add a base class (".hidden"), ".hidden@md-down" and ".hidden@lg":
// hidden: (
// 		display: none,
//		include: (md-down, lg)
// )
//
// Example 2 - This will add a base class only
// hidden: (
// 		display: none,
//		include: ()
// )
//
// Example 3 - This will (implicitly) add all the classes
// hidden: (
// 		display: none,
// )
//
// Example 4 - This will (explicitly) add all the classes
// hidden: (
// 		display: none,
// 		include: (all)
// )



// Add utility classes here
$utility-classes: (

	// Display
	hidden: (display: none !important),
	inline: (display: inline),
	block: (display: block),
	inline-block: (display: inline-block),

	// Floats
	float-left: (float: left),
	float-right: (float: right),

	// Paddings and margins - besides those found in _margins.scss and _paddings.scss
	m\:auto: (margin: 0 auto),

	// Text
	text-left: (text-align: left),
	text-right: (text-align: right),
	text-center: (text-align: center),
	whitespace-no-wrap: (white-space: nowrap),

	// Resets
	list-reset: (
		list-style: none,
		padding: 0,
		include: () // An empty "include" will exclude all breakpoint classes, generating only the base class
	),

	// Misc
	fill-width: (width: 100%),

);

// Append padding and margin classes. These are optional.
// If you just have a few padding and margin classes you can instead add them in $utility-classes above.
@import 'paddings';
@import 'margins';